/* ======================================================================================================== */
/* ================================= I. УДАЛЕНИЕ ПРЕДУСТАНОВЛЕННЫХ СТИЛЕЙ ================================= */
/* ======================================================================================================== */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ======================================================================================================== */
/* ===================================== II. ДОБАВЛЕНИЕ СВОИХ СТИЛЕЙ ====================================== */
/* ======================================================================================================== */


header {
  height: 40px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(204,34,34);
}

.project-name {
  font-size: 21px;
  font-family: Arial;
  padding-left: 20px;
  color:rgb(255, 255, 255);  
  padding-top: 4px;
}

.load-file {
  font-weight: 500;
  font-size: 21px;
  font-family: Arial;
  padding-left: 320px;
  margin-top: -780px;
  color:rgb(255, 255, 255);  
}

#project-full-name {
  font-weight: 500;
}

main {
  max-width: 800px;
  margin-left: 960px;
	margin-top: 42px;
  margin-bottom: 42px;
	border-top: 800px solid rgb(204,34,34);
}

footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
	margin-top: 0px;
	border: none;
	border-top: 40px solid rgb(204,34,34);
}

.footer-name {
  font-size: 15px;
  font-family: Arial;
  padding-left: 20px;
  margin-top: -30px;
  font-weight: 500;
  color:rgb(255, 255, 255);  
}

nav{
}

