<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPOS | {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>

<body>
    <header>
        <h2 class = "project-name">CAPOS<span id = "project-full-name" class = "project-name">Conferences auto-protocoling online system<span>
    </header>

    <nav>
    </nav>

    <main>
        {% block main %}{% endblock %}
        <h1 class = "load-file">Загрузка файла:</h1>
        <h2><input type ="file" name = "audiofile"></h2>
    </main>


    <footer>
        <h2 class = "footer-name">© Merul Group 2021 </h2>
    </footer>
</body>

</html>