<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPOS | {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>

<body>
    <header>
        
    </header>


    <nav>

    </nav>


    <main>
        {% block main %}{% endblock %}
    </main>


    <footer>

    </footer>
</body>

</html>