{% extends 'main/base.html' %}


{% block title %}
    Главная страница
{% endblock %}


{% block main %}
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12">
            <div class="jumbotron">
                <div>
                    <b>CAPOS</b> (<b>C</b>onferences <b>a</b>uto-<b>p</b>rotocoling <b>o</b>nline <b>s</b>ystem) - это веб-интерфейс, предназначенный для преобразования аудиофайла в документ. Результатом обработки CAPOS является текстовый файл стенограммы конференции, который максимально удобен для понимания и анализа информации.
                    <br>
                    Главные особенности веб-интерфейса:
                    <br>
                    1.Процесс преобразование аудиофайла автоматический, что, в свою очередь, предполагает возможность выполнения пользователем несколько задач одновременно.
                    <br>
                    2.После успешного преобразования первичный файл удаляется, а значит и нагрузка на сервер существенно снижается.
                    <br>
                    3.Система авто-протоколирования основана на общедоступных библиотеках, что позволяет эксплуатировать веб-интерфейс абсолютно бесплатно.
                    <br>
                    4.Аудиофайлы, загружаемые в систему, не имеют ограничений по длительности. 
                </div>
                <br>
                <form form enctype="multipart/form-data" method="post" action="/">
                    {% csrf_token %}
                    <div class="form-group">
                      <label class="custom-file" for="id_audiofile">
                        {{ form.audiofile }}
                        <span class="custom-file-control">
                            Выберите аудиофайл
                        </span>
                      </label>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Транскрибировать файл
                    </button>
                    <br>
                    <small id="fileHelpId" class="form-text text-muted">На данный момент поддерживаются только файлы в WAV формате</small>
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}