{% extends 'main/base.html' %}


{% block title %}
    Авторизация
{% endblock %}


{% block main %}
    <form style="margin-top:15%; margin-left:30%; margin-right:30%;">
        <h1 class="h3 mb-3 fw-normal">Пожалуйста, авторизуйтесь</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
{% endblock %}